.DS_Store
.npm/
.vscode
.idea
.server
node_modules
npm-debug.log
coverage
.cache
.eslintcache
.env
compose
!compose/example-grant-with-auth/add_your_local_files_here
!compose/start-localstack.sh
!compose/aws.env
!compose/release.yml
