.DS_Store
.npm/
.vscode
.idea
.server
node_modules
npm-debug.log
coverage
.cache
.eslintcache
.env
compose
!compose/example-grant-with-auth@1.0.1/add_your_local_files_here
!compose/other-grant@1.0.0/grants-ui/somefile.txt
!compose/start-localstack.sh
!compose/aws.env
!compose/release.yml
